#toplist {
    /*position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    width: 70%;
    height: 1600px;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    align-content: start;
    width: 75%;
    margin: auto;
    text-align: center;
}

#buttons {
    text-align: center;
}

button {
    min-width: 20%;
    height: 30px;
    margin: 20px auto 0 auto;

}

button:active {
    font-weight: bold;
}

