#toplist {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    align-content: center;
    width: 75%;
    margin: auto;
    text-align: center;
    height: 1800px;
  
}

#buttons {
    text-align: center;
}

button {
    min-width: 20%;
    height: 30px;
    margin: 20px auto 0 auto;

}

button:active {
    font-weight: bold;
}

