body {
    background-image: url('./Photoshop/callcentre.jpg');
    background-size: cover;
    background-position: right top;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
